/* GovernancePage.css */

.governance-container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    transition: all 0.3s ease;
    margin-top: 7rem;
}

.governance-container h1 {
    color: #4b0082;
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.governance-container .input-group {
    margin-bottom: 20px;
}

.governance-container input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #4b0082;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.governance-container input[type="text"]:focus {
    border-color: #6e8efb;
    outline: none;
    box-shadow: 0 0 5px rgba(110, 142, 251, 0.5);
}

.governance-container button {
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    width: 70%;
}

.governance-container button:hover {
    background-color: #6e8efb;
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.governance-container button:active {
    transform: translateY(0);
}

.governance-container .remove-button {
    background-color: #e74c3c; /* Red color for remove button */
    margin-left: 10px; /* Space between address and button */
    width: 20%;
}

.governance-container .remove-button:hover {
    background-color: #c0392b; /* Darker red on hover */
}

.governance-container .message {
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    margin-top: 15px;
}

.governance-container .note {
    margin-top: 20px;
    color: #333;
    font-size: 0.9rem;
    font-style: italic;
}
.governance-addresses {
    padding-top: 2rem;
}
.governance-addresses ul {
    list-style-type: none; /* Remove default list styles */
    padding: 4px; /* Remove padding from list */
    margin-top:1rem;
}

.governance-addresses li {
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 10px; /* Space between addresses */
    border: 1px solid black;
}
