/* styles/UserDonations.css */

.user-donations-container {
    max-width: 800px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding around the container */
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 9rem;
}

.user-donations-container  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
  }

.user-donations-container h2{
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
  }
.user-donations-container  .no-donations {
    text-align: center; /* Center no donations message */
    font-size: 1.2rem; /* Slightly larger font size */
    color: #666; /* Gray color for less emphasis */
}

.user-donations-container .donation-list {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    gap: 15px; /* Space between items */
}

.user-donations-container .donation-item {
    background-color: #fff; /* White background for each donation */
    padding: 15px; /* Padding around each donation item */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    transition: transform 0.2s; /* Smooth transform effect */
    text-decoration: none; /* Remove underline from links */
    color: #0070f3; /* Link color */
}

.user-donations-container .donation-item:hover {
    transform: scale(1.02); /* Slightly scale up on hover */
    background-color: #e6f7ff; /* Light blue background on hover */
}

.user-donations-container  .donation-item p {
    margin: 5px 0; /* Space between paragraphs */
}


/* General styles for the withdrawal container */
.withdrawals-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    margin-top: 7rem;
  }
  
  
  
  .withdrawal-list {
    margin-bottom: 20px;
  }
  
  .withdrawal-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .withdrawal-item p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .withdrawal-item p:nth-child(odd) {
    font-weight: bold;
  }
  
  .withdrawals-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
  }
  .withdrawals-container h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
  }
  